/* styles/Login/passwordChange.module.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the form vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white; /* 배경을 흰색으로 설정 */
    box-shadow: none; /* 그림자를 제거합니다 */
}


/* Container for the entire form */
.passwordChangeContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px; /* You can adjust the width as needed */
    margin: auto; /* 가운데 정렬을 위한 마진 설정 */
}

/* Title at the top of each section */
.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f44250;
}

/* Form group (label + input) */
.formGroup {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

/* Label for inputs */
.label {
    font-weight: bold;
}

/* Input fields */
.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.greenButton {
    background-color: #f44250;
}

.greenButton:hover {
    background-color: #f44250;
}

