.footer_base {
    overflow: hidden;
    clear: both;
    margin-top: 120px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background: rgb(245, 245, 245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.38);
}