.main-box {
    display: flex;
    margin-top: 200px;
    width: 100%;


}

._left-box {
    flex: 1;
    position: sticky;
    min-width: 200px;
    height: auto;
    top: 0;

}

/* 이게 애니메이션을 주긴 함 ... */
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}



._button-list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;

    /* 애니메이션을 줄 수 있음.. 근데 비용이 좀 비싸보임 */
    /* transition: all 0.5s ease; */
    /* animation: slideIn 3s ease;  */


}

._button {
    margin: 50px;
    width: 50%;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;

}

._button:hover {
    color: red;
}


._right-box {
    flex: 6;
    height: auto;
    border: 1px solid black
}

._right-list {
    border: 1px solid red
}