.main-box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 50px;
    /* width: auto;
    margin: 0px 10% 0px 10%; */

    width: 1024px;
    margin: 0px auto;


}

.main-box-phone {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    width: 100%;
    margin: 0px auto 0px auto;


}

._left-box {
    min-width: 200px;
    height: auto;
    padding-left: 31px;

}

/* 이게 애니메이션을 주긴 함 ... */
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}





._right-box {

    /* overflow-y: scroll;
    height: 89vh; */

    height: auto;

    border: 1px solid black
}

._right-list {}