.main-box {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding-top: 50px;
    width: 100%;
    margin: 0 auto 0 auto;


}

.main-box-phone {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    width: 100%;
    margin: 0 auto 0 auto;


}

._left-box {
    min-width: 200px;
    height: auto;
    top: 0;
    padding-left: 30px;

}

/* 이게 애니메이션을 주긴 함 ... */
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}



._button-list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;

    /* 애니메이션을 줄 수 있음.. 근데 비용이 좀 비싸보임 */
    /* transition: all 0.5s ease; */
    /* animation: slideIn 3s ease;  */


}

._button {
    font-weight: bold;
    margin: 20px;
    width: 70%;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

._button:hover {
    color: red;
}


._right-box {
    overflow-y: scroll;
    height: 89vh;
    border: 1px solid black
}

._right-list {}