
.pMain-box {
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding-top: 50px;
    width: 1024px;
    margin: 0px auto;
    min-height: 600px;
}

.pMain-box-phone {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    width: 100%;
    margin: 0px auto 0px auto;
    min-height: 600px;
}