

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    box-shadow: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.passwordChangeContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    margin: auto;
}


.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f44250;
}


.formGroup {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

.label {
    font-weight: bold;
}


.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.greenButton {
    background-color: #f44250;
}

.greenButton:hover {
    background-color: #f44250;
}

